- meeting ||= nil

- if meeting
	%table.table.table-striped
		%tr
			%th{"colspan" => "2"}
				Réunion
		%tr
			%td
				Date
			%td
				= l meeting.start_at
		%tr
			%td
				Durée
			%td
				= duration_in_words(meeting)
		- if meeting.practices.present? and practice = meeting.practices.first
			%tr
				%th{"colspan" => "2"}
					Répétition
			%tr
				%td
					Date
				%td
					= l practice.start_at
			%tr
				%td
					Durée
				%td
					= duration_in_words(practice)
		%tr
			%th{"colspan" => "2"}
				Participants
		- meeting.meeting_users.each do |m_user|
			%tr
				%td
					= m_user.user.name if m_user.user
					- if m_user.is_leader?
						(Leader)
				%td
					= I18n.t("instruments.#{m_user.instrument}")
