= simple_form_for(@meeting) do |f|
  = f.error_notification

  %ul.nav.nav-tabs
    %li.active
      = link_to "#meeting", {"data-toggle" => "tab"} do
        Réunion
    %li
      = link_to "#rehearsal", {"data-toggle" => "tab"} do
        Répétition
    %li
      = link_to "#meeting_users", {"data-toggle" => "tab"} do
        Participants
    %li
      = link_to "#songs", {"data-toggle" => "tab"} do
        Chants

  .tab-content#song-panes
    #meeting.tab-pane.active
      .row.tab-pane
        .col-lg-4.col-md-4.col-sm-4.col-xs-4
          = f.input :label
        .col-lg-4.col-md-4.col-sm-4.col-xs-4
          = f.input :start_at, :as => :string, :input_html => { "data-behaviour" => "datepicker", :value => l(@meeting.start_at ? @meeting.start_at : Time.now + 2.day)}
        .col-lg-4.col-md-4.col-sm-4.col-xs-4
          = f.input :duration, :as => :select, :collection => (1..6).map{|numb| ["#{numb} heure#{numb > 1 ? "s" : ""}", numb.hours]}, :include_blank => false

    #rehearsal.tab-pane
      .row
        .col-lg-12

      .row
        = f.simple_fields_for :practice do |practice|
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            = practice.input :start_at, :as => :string, :input_html => { "data-behaviour" => "datepicker" }
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            = practice.input :duration, :as => :select, :collection => (1..6).map{|numb| ["#{numb} heure#{numb > 1 ? "s" : ""}", numb.hours]}, :include_blank => false
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            = practice.input :reminder, :as => :select, :collection => ((0..10).map{|numb| [ (numb == 0 ? "Maintenant" : ("#{numb} jour#{numb > 1 ? "s" : ""} avant")), (numb > 0 ? numb.days : 0)]}), :include_blank => false

    #meeting_users.tab-pane
      .row.nested_form
        .col-lg-12
          = render "shared/cocoon_wrapper", nested_resource_name: "meeting_user", f: f, form_instance: @meeting, disable_auto_load_first_element: true
    #songs.tab-pane
      .row.nested_form
        .col-lg-12
          = render "shared/cocoon_wrapper", nested_resource_name: "meeting_song", f:f, form_instance: @meeting, disable_auto_load_first_element: true
  .row
    .col-lg-12
      = f.button :submit, class: "pull-right real-submit hidden"


:coffee
  auto_load ->
    load_chosens()
