.content
  %table{:bgcolor => ""}
    %tr
      %td.small{:style => "vertical-align: top; padding-right:10px;", :width => "20%"}
        - if @user_pic.present?
          = image_tag(attachments[@user_pic].url)
      %td
        %h4
          = @user.name

        %p
          vous invite à participer à la réunion
          = @meeting.label
          du
          = @meeting.start_at.strftime("%d/%m/%Y à %H:%M")
        %p
          Une répétition est prévu le
          = @meeting.practice.start_at.strftime("%d/%m/%Y à %H:%M") if @meeting.practice
          \.
        %p
          La liste des chants qui sont prévu est :
        %ul
          - @meeting.meeting_songs.each do |m|
            - if m.song
              %li
                = m.song.title if m.song
                dirigé par
                = m.leader.name if m.leader
                | Clé :
                = m.song.key if m.song
                |
                = link_to song_url(m.song) do
                  = "Voir le chant"
        = link_to "Voir la réunion", meeting_url(@meeting), :class => "btn"