- comment ||= nil

- if comment
  .media{id: "comment-#{comment.id}"}
    = image_tag comment.user.avatar.url(:mini), class: "img-circle pull-left no-right-padding comment-avatar"
    .media-body.content-body
      - if policy(comment).destroy?
        = link_to comment_path(comment), class: "destroy-comment pull-right", remote: true, method: :delete, confirm: "Voulez-vous vraiment supprimer ceci ?" do
          = fa_icon "trash"
      %h6.media-heading
        = comment.user.full_name if comment.user
      = comment.comment_html
    .media-footer.clear
      = time_ago_in_words(comment.created_at)
      \-
      = render "socializables/like", likable: comment
