= simple_form_for(@church) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :is_valid
    = f.input :logo
    = f.input :address

  .form-actions
    = f.button :submit, class: "btn-md"
  %br
