= content_for :left_column do
  .row
    .panel
      .panel-body
        .row
          .col-sm-12
            #post-form
              = render "posts/form", :post => @post
  .row
    .panel
      .panel-body
        .row
          .col-sm-12
            %ul.media-list#feed-activities
              = render_activities(@activities)

            #infinite-scrolling
              = will_paginate @activities

= content_for :right_column do
  %bu-deco-pane{image: asset_path('mountains.jpg')}
