- activity ||= nil
- image_url ||= nil
- image_link ||= "#"
- trackable ||= nil
- image_alt ||= ""
- title ||= ""
- content ||= ""
- not_linkable ||= false

- if activity
  %li.media{id: "activity-#{activity.id}"}
    - if image_url
      = link_to image_link, :class => "pull-left" do
        = image_tag image_url, alt: image_alt, class: "img-circle"

    .media-body.content-body
      - if policy(activity).destroy?
        = link_to activity_path(activity), class: "destroy-post pull-right", remote: true, method: :delete, confirm: "Voulez-vous vraiment supprimer ceci ?" do
          = fa_icon "trash"
      - if !not_linkable
        = link_to trackable do
          %h4.media-heading
            = title
          = content
      - else
        %h4.media-heading
          = title
        = content


      .media-footer.activity-footer
        = time_ago_in_words(activity.created_at)
        \-
        - if trackable
          = render "socializables/like", likable: activity

      %span.comments-list
        - activity.comments.each do |comment|
          = render "comments/comment", comment: comment
      .media.comment-form
        = image_tag current_user.avatar.url(:mini), class: "img-circle pull-left"
        .media-body
          %span.comment-form
            = render "comments/form", comment: Comment.new, commentable: activity
