<%= content_for :headers do %>
    <h1><%= @user.name %></h1>

<% end %>
<%= content_for :left_column do %>

    <%= image_tag @user.avatar.url(:thumb), :class => "pull-left" %>
    <p>Email: <%= @user.email if @user.email %></p>
    <p>Église: <%= @user.page.name if @user.page %></p>
<% end %>
