<div class="">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3>Perdu votre mot de passe?</h3>
    <p>Nous vous envoyons un mail de récupération de compte !</p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit 'CHANGER DE MOT DE PASSE', :class => 'btn btn-primary' %>
  <% end %>
</div>
