- if a.trackable and a.owner
  -# :trackable_files => a.trackable.music_medias,
  = render "/public_activity/activity_container",
      :activity => a,
      :title => raw("#{a.owner.short_name} a publié #{(a.trackable.song.present? and a.trackable.song.title.present?) ? link_to("à propos du chant \"#{a.trackable.song.title.capitalize}\"", song_path(a.trackable.song, :anchor => "social")) : ""}"),
      :image_link => edit_user_registration_path,
      :image_url => a.owner.avatar.url(:tiny),
      :image_alt => "Photo de #{a.owner.short_name}",
      :content => a.trackable.content_html,
      :trackable =>  a.trackable,
      :trackable_file_key_name => :attachment,
      :not_linkable => true
