<% modal_id ||= nil %>
<% title ||= nil %>
<% content ||= nil %>
<% footer ||= nil %>

if ($('#modal_<%=modal_id%>').length > 0) {
    $('#modal_<%=modal_id%> .modal-body').html('<%=escape_javascript(content) %>');
    $('#modal_<%=modal_id%> .modal-header h4').html('<%= escape_javascript(title) %>');
    if($('#modal_<%=modal_id%> .modal-footer').length == 0){
    	$('#modal_<%=modal_id%> .modal_dialog').append("<div class=\"modal-footer\"></div>");	
    }
    $('#modal_<%=modal_id%> .modal-footer').html('<%= escape_javascript(footer) %>');
    $('#modal_<%=modal_id%>').modal('show');
}
else {
    $('body').append('<%=escape_javascript render("shared/modal", :css_id => "modal_#{modal_id}", :title => title, :content => content, :footer => footer )%>');
    $('#modal_<%=modal_id%>').modal('show');
}


$('#modal_<%=modal_id%> [data-form-submit]').click(function(){
    $('#modal_<%=modal_id%> .modal-body form').first().submit();
})