= content_for :pre_header do
	.page-header-container.ng-cloak{"bu-adapt-window": "'height'", class: "page-#{@page.id}"}
		%bu-pages-header-show-case{"page-id": "#{@page.id}"}
		.background-image.bu-fade{style: "background-image:url('#{@page.background_image.url(:cover)}')"}

- if @page
	.col-md-12
		%bu-pages-header-title{"page-id": @page.id}

		%bu-activities-index{"recipient-type": "'Page'", "recipient-id": "#{@page.id}", "write-mode-enabled": "#{current_user.present? and current_user.admin?}"}
