- if user_signed_in?
  %li.dropdown.user-profile-dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      .inline-visible-xs
        MON COMPTE
      = image_tag current_user.avatar.url(:micro), class: 'user-avatar-micro hidden-xs'
      %b.caret
    %ul.dropdown-menu
      - if current_user.admin?
        %li
          = link_to users_path do
            %i.fa.fa-users
            Utilisateurs
        %li
          = link_to churches_path do
            %i.fa.fa-building
            Églises
        %li.divider{role: "separator"}
      %li= link_to raw('<i class="glyphicon glyphicon-user"></i> Mon profil'), edit_user_registration_path
      %li= link_to raw('<i class="glyphicon glyphicon-log-out"></i> Se déconnecter'), destroy_user_session_path, :method => 'delete'


- else
  %li= link_to raw('<i class="glyphicon glyphicon-log-in"></i> SE CONNECTER'), new_user_session_path
  %li= link_to raw('<i class="glyphicon glyphicon-plus"></i> S\'INSCRIRE'), new_user_registration_path
