<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "BURN UP" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Worship" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag "simplex", :media => "all" %>
  <%= stylesheet_link_tag 'application-print', media: 'print'%>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render 'layouts/navigation' %>
</header>
<main role="main" class="container">
  <% if content_for? :headers %>
      <div class="row">
        <div class="col-lg-12" id="headers">
          <%= yield :headers %>
            <%#= render 'layouts/messages' %>
        </div>
      </div>
  <% end %>
  <div class="row">

    <% if flash.present? and !@no_main_flash%>
        <% flash.each do |key, msg| %>
            <%= render "/layouts/flash", :msg => msg, :key => key %>
        <% end %>
    <% end %>

    <% if content_for? :left_column %>
        <div class="col-lg-8 col-md-8 col-sm-12" id="left-column">
          <%= yield :left_column %>
        </div>
    <% end %>
    <% if content_for? :right_column %>
        <div class="col-lg-4 col-md-4 col-sm-12" id="right-column">
          <%= yield :right_column %>
        </div>
    <% end %>
    <%= yield %>
  </div>

</main>
<footer>
    ©2015 - BURN UP
</footer>
<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/mics4Ui9vsJQFfV6EckeYw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#e23a39',
  trigger_color: 'white',
  trigger_background_color: '#e23a39'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
</body>
</html>
