!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "BURN UP"
    %meta{:content => content_for?(:description) ? yield(:description) : "Worship", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-eval': false
    = stylesheet_link_tag 'application-print', media: 'print'
    = csrf_meta_tags
  %body{"ng-app" => "Burnup", "ng-class" => "$root.pageIsUnscrollable ? 'unscrollable' : ''", "ng-controller" => "Main"}
    %header= render 'layouts/navigation'
    %main.container{:role => "main"}
      - if content_for? :headers
        .row
          #headers.col-lg-12
            = yield :headers
      .row
        - if content_for? :left_column
          #left-column.col-lg-8.col-md-8.col-sm-12
            - if flash.present? and !@no_main_flash
              - flash.each do |key, msg|
                .row
                  = render "/layouts/flash", :msg => msg, :key => key
            = yield :left_column
        - if content_for? :right_column
          #right-column.col-lg-4.col-md-4.col-sm-12
            = yield :right_column
        = yield
    %footer
      ©#{Time.now.year} - BURN UP - Tous droits réservés

    :coffee
      window.sessionStorage.setItem('currentUser', escape('#{current_user.to_builder}'))
