!!!
%html
  %head
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "BURN UP"
    %meta{:content => content_for?(:description) ? yield(:description) : "Worship", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-eval': false
    = stylesheet_link_tag 'application-print', media: 'print'
    = csrf_meta_tags
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:color => "#da351c", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}/
    %meta{:content => "#ff0000", :name => "theme-color"}/

  %body{"angular-rails-app" => "Burnup", "ng-class" => "$root.pageIsUnscrollable == true ? 'unscrollable' : ''", "ng-controller" => "Main"}

    - if content_for? :pre_header
      = yield :pre_header

    %header
      = render 'layouts/navigation', affixed: content_for?(:pre_header)

    %main.container{:role => "main", class: content_for?(:pre_header) ? 'static-margin' : ''}
      - if content_for? :headers
        .row
          #headers.col-lg-12
            = yield :headers
      .row
        - if content_for? :left_column
          #left-column.col-lg-8.col-md-8.col-sm-12
            - if flash.present? and !@no_main_flash
              - flash.each do |key, msg|
                .row
                  = render "/layouts/flash", :msg => msg, :key => key
            = yield :left_column
        - if content_for? :right_column
          #right-column.col-lg-4.col-md-4.col-sm-12
            = yield :right_column

        - if !content_for? :left_column and flash.present? and !@no_main_flash
          .container-fluid
            - flash.each do |key, msg|
              = render "/layouts/flash", :msg => msg, :key => key
        = yield
    %footer
      ©#{Time.now.year} - BURN UP - Tous droits réservés

    - if current_user
      :coffee
        window.sessionStorage.setItem('currentUser', escape('#{raw current_user.to_builder}'))
    - else
      :coffee
        window.sessionStorage.setItem('currentUser', escape('{}'))

    -# FACEBOOOK
    :coffee
      window.fbAsyncInit = ->
        FB.init
          appId: '767467860099473'
          xfbml: true
          version: 'v2.10'
        FB.AppEvents.logPageView()
        return

      ((d, s, id) ->
        js = undefined
        fjs = d.getElementsByTagName(s)[0]
        if d.getElementById(id)
          return
        js = d.createElement(s)
        js.id = id
        js.src = '//connect.facebook.net/en_US/sdk.js'
        fjs.parentNode.insertBefore js, fjs
        return
      ) document, 'script', 'facebook-jssdk'
